{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./../../static/login.css">
    {% comment %} <link rel="stylesheet" href="{% static 'login.css' %}"> {% endcomment %}
<script src="{% static 'login.js' %}"></script>
</head>
<body>
    <header>
        <h1>Sign In</h1>
    </header>

    <div class="login-container">
        {% if form.errors %}
            <p class="error-message">Your username and password didn't match. Please try again.</p>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="bubble-box">
                <label for="id_username">Username:</label>
                {{ form.username }}
            </div>
            <div class="bubble-box">
                <label for="id_password">Password:</label>
                {{ form.password }}
            </div>
            <div class="button-container">
                <button type="submit" class="login-button">Sign In</button>
                <a href="{% url 'register' %}" class="signup-button">Register</a>
            </div>
        </form>
    </div>

    {% comment %} <script src="budget\static\login.js"></script> {% endcomment %}
</body>
</html>
